html
    head
        title= title
    body
        h1
            a(style={color: 'blue', 'text-decoration': 'none', 'font-weight': '400'})(href=id)= id
            p now redirects to
            a(style={color: 'blue', 'text-decoration': 'none', 'font-weight': '400'})(href=url)= url